APScheduler==3.8.1
asgiref==3.4.1
attrs==21.2.0
backports.zoneinfo==0.2.1
botocore==1.23.48
certifi==2021.5.30
charset-normalizer==2.0.6
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.7
django-apscheduler==0.6.0
django-cors-headers==3.10.0
django-filter==21.1
djangorestframework==3.12.4
drf-yasg==1.20.0
et-xmlfile==1.1.0
greenlet==1.1.2
gunicorn==20.1.0
httpie==3.0.2
idna==3.2
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.2
jmespath==0.10.0
jsonschema==4.0.1
lml==0.1.0
Markdown==3.3.4
ruamel.yaml.clib==0.2.6
s3transfer==0.5.0
six==1.16.0
SQLAlchemy==1.4.31
sqlparse==0.4.2
swagger-spec-validator==2.7.3
tzdata==2021.5
tzlocal==4.1
uritemplate==3.0.1
urllib3==1.26.7
whitenoise==5.3.0
XlsxWriter==3.0.2